*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/blelibrary/build/.transforms/4d5a5efd8fc7f638a9fb157bf152afa7.bin
/blelibrary/build/.transforms/5a4bc6f2124c730258a1f647ef86100b.bin
/blelibrary/build/.transforms/8a57f9f00fd3d0a18ed39320411b91eb.bin
/blelibrary/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/blelibrary/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
/blelibrary/build/intermediates/library_manifest/debug/AndroidManifest.xml
/blelibrary/build/intermediates/library_manifest/release/AndroidManifest.xml
/blelibrary/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/blelibrary/build/intermediates/annotation_processor_list/release/annotationProcessors.json
/app/release/app-release.apk
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/mode/BaseTxOrder.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/mode/BaseTxOrder.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/BLEService$1.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/BLEService$1.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/BLEService$2.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/BLEService$2.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/BLEService.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/BLEService.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/BLEUtils.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/BLEUtils.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/BuildConfig.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/BuildConfig.class
/blelibrary/build/generated/source/buildConfig/release/com/lm/sdk/BuildConfig.java
/blelibrary/build/.transforms/4d5a5efd8fc7f638a9fb157bf152afa7/classes/classes.dex
/blelibrary/build/.transforms/5a4bc6f2124c730258a1f647ef86100b/classes/classes.dex
/blelibrary/build/.transforms/8a57f9f00fd3d0a18ed39320411b91eb/classes/classes.dex
/blelibrary/build/.transforms/d1719a1dea8af562ad1c023b9670bc1b/classes/classes.dex
/blelibrary/build/intermediates/compile_library_classes/debug/classes.jar
/blelibrary/build/intermediates/compile_library_classes/release/classes.jar
/blelibrary/build/intermediates/runtime_library_classes/debug/classes.jar
/blelibrary/build/intermediates/runtime_library_classes/release/classes.jar
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/CMDUtils.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/CMDUtils.class
/blelibrary/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/ConvertUtils.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/ConvertUtils.class
/blelibrary/build/.transforms/d1719a1dea8af562ad1c023b9670bc1b.bin
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/GlobalParameterUtils.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/GlobalParameterUtils.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/Hmacmd5.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/Hmacmd5.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/inter/IResponseListener.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/inter/IResponseListener.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/Logger.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/Logger.class
/blelibrary/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/blelibrary/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
/blelibrary/build/outputs/logs/manifest-merger-release-report.txt
/blelibrary/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
/blelibrary/build/intermediates/incremental/release-mergeNativeLibs/merge-state
/blelibrary/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/blelibrary/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/blelibrary/build/intermediates/incremental/packageReleaseAssets/merger.xml
/blelibrary/build/intermediates/incremental/packageReleaseResources/merger.xml
/blelibrary/build/intermediates/navigation_json/debug/navigation.json
/blelibrary/build/intermediates/navigation_json/release/navigation.json
/app/release/output.json
/blelibrary/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
/blelibrary/build/intermediates/aapt_friendly_merged_manifests/release/aapt/output.json
/blelibrary/build/intermediates/merged_manifests/debug/output.json
/blelibrary/build/intermediates/merged_manifests/release/output.json
/blelibrary/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/blelibrary/build/intermediates/symbol_list_with_package_name/release/package-aware-r.txt
/blelibrary/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
/blelibrary/build/intermediates/compile_only_not_namespaced_r_class_jar/release/R.jar
/blelibrary/build/intermediates/compile_symbol_list/debug/R.txt
/blelibrary/build/intermediates/compile_symbol_list/release/R.txt
/blelibrary/build/intermediates/local_only_symbol_list/debug/R-def.txt
/blelibrary/build/intermediates/local_only_symbol_list/release/R-def.txt
/blelibrary/build/intermediates/library_java_res/debug/res.jar
/blelibrary/build/intermediates/library_java_res/release/res.jar
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/UtilSharedPreference$Type.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/UtilSharedPreference$Type.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/utils/UtilSharedPreference.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/utils/UtilSharedPreference.class
/blelibrary/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
/blelibrary/build/intermediates/packaged_res/release/values/values.xml
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/WLSAPI$1.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/WLSAPI$1.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/WLSAPI$2.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/WLSAPI$2.class
/blelibrary/build/intermediates/javac/debug/classes/com/lm/sdk/WLSAPI.class
/blelibrary/build/intermediates/javac/release/classes/com/lm/sdk/WLSAPI.class
/blelibrary/build/
